/* desktop body styles */
body {
  background-color: #000000;
}
header h2,
a:hover,
.linkedin-icon:hover,
.linkedin-icon:hover,
.github-icon:hover,
footer,
.home-page:hover,
.edu-section,
.exp-section,
.skills-section {
  color: #c71585;
}
.edu-title,
.exp-title,
.skills-title,
.projects-page-title {
  border: 1px dotted #c71585;
}
a,
.contacts nav,
.github-icon,
li,
.home-page,
.bio-page p,
.edu-title,
.exp-title,
.skills-title,
.edu-list,
.exp-list,
.skills-list,
.projects-page {
  color: #ffffff;
}
h2,
a,
.bio-page p,
.projects-page-info h5,
h6,
.edu-list,
.exp-list,
.skills-list {
  font-family: "DM Serif Display", serif;
}
.home-page,
.edu-title,
.exp-title,
.skills-title,
.projects-page {
  font-family: "Anton", sans-serif;
}
.bio-page-image,
.bio-page p{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header-title,
footer {
  padding: 20px;
}
.bio-page,
.bio-page p {
  font-size: 20px;
}
.edu-title,
.exp-title,
.skills-title,
.projects-page {
  text-align: center;
  font-size: 25px;
}
.header-title {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 20px;
  margin: 0px;
}
a {
  padding: 10px;
  text-decoration: none;
}
.contacts nav {
  height: 40px;
  width: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.linkedin-icon,
.github-icon {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
}
.linkedin-icon:hover,
.github-icon:hover {
  border: 2px solid;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
li {
  list-style-type: none;
}
.home-page {
  text-align: center;
  font-size: 50px;
}
.bio-page {
  padding: 60px;
}
.bio-page-image {
  height: 400px;
  width: 600px;
  border: 8px double #c71585;
}
.bio-page p {
  width: 610px;
}
.work-page {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}
.edu-section,
.exp-section,
.skills-section {
  border-bottom: 1px dotted;
}
.edu-list,
.exp-list,
.skills-list {
  font-size: 16px;
}
.edu-section ul,
.exp-section ul,
.skills-section ul {
  padding-left: 0px;
}
.projects-page {
  padding: 60px;
}
.projects-page-info {
  text-align: left;
}
.project1-title,
.project2-title,
.project3-title {
  border-bottom: 1px solid #c71585;
}
/* tablet styles */
@media screen and (max-width: 768px) {
  .header-title {
    padding: none;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
  }
  a {
    padding: 1px;
  }
  .contacts {
    padding: 20px;
  }
  .contacts nav {
    padding: 0px;
  }
  .contacts a {
    padding: 2px;
  }
  .home-page {
    padding: 20px;
  }
  .home-page p {
    margin-top: 0px;
  }
  .bio-page {
    padding: 40px;
    height: 550px;
  }
  .bio-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bio-page-image {
    height: 300px;
    width: 400px;
  }
  .image-section img, .bio-page p{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bio-page p {
    overflow: scroll;
    font-size: 18px;
    height: 230px;
    width: 400px;
    
  }
  .work-page {
    display: block;
    padding: 40px;
    overflow: scroll;
    height: 500px;
  }
  .edu-list,
  .exp-list,
  .skills-list {
    text-align: center;
  }
  .projects-page {
    padding: 40px;
  }
  .projects-page-info {
    overflow: scroll;
    height: 500px;
  }
  .project1-title,
  .project2-title,
  .project3-title {
    text-align: center;
  }
}
/* mobile styles */
@media screen and (max-width: 375px) {
  .header-title {
    display: flex;
    justify-content: center;
  }
  h2 {
    display: none;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
  }
  a {
    padding: 5px;
  }
  .contacts nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
  }
  .contacts a {
    padding: 4px;
  }
  .bio-page {
    padding: 40px;
  }
  .bio-page-image {
    border: 2px solid #c71585;
    height: 200px;
    width: 300px;
  }
  .image-section img, .bio-page p{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bio-page p {
    font-size: 16px;
    width: 300px;
  }
  .work-page {
    display: block;
    padding: 40px;
    overflow: scroll;
    height: 500px;
  }
  .edu-list,
  .exp-list,
  .skills-list {
    text-align: center;
  }
  .projects-page {
    margin: 0px;
    padding: 40px;
  }
  .projects-page-info {
    overflow: scroll;
    height: 460px;
  }
  .project1-title,
  .project2-title,
  .project3-title {
    text-align: center;
  }
  .project1-info,
  .project2-info,
  .project3-info {
    font-size: 15px;
  }
  .mybio {
    font-size: 15px;
  }
}
